{% extends 'layout.html.twig' %}

{% block title %}QrCodes{% endblock %}

{% block header %}
    <div id="header" class="card text-center">
        <h1>Liste des certificats | <span class="badge badge-secondary">{{ files.count }}</span> moteurs {% if not isAll %}{{ cat }}kg{% endif %}</h1>
        <p class="italic text-secondary">utilisez <kbd>ctrl</kbd>+<kbd>f</kbd> (Windows) ou <kbd>cmd</kbd>+<kbd>f</kbd> (mac) pour filtrer les résultats</p>
    </div>
{% endblock %}

{% block moteurs_body %}
    <p></p>
    <div class="row">
        {% for file in files %}
            <div class="col-2 card border-warning">
                <div class="card-header text-center text-muted">{{ file.Filename|trim('.png') }}</div>
                <img class="card-img-top" src="../../{{ file  }}" alt="Mince, pas d'image...">
                <div class="card-footer">
                    <div class = 'text-warning text-center'><a href="/certificats/{{ cat }}/{{ file.Filename|trim('.png') }}.pdf">PV</a> </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}