
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QRCodes Print</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {# 'app' must match the first argument to addEntry() in webpack.config.js
        {{ encore_entry_link_tags('app') }}#}

        <!-- Renders a link tag (if your module requires any CSS)
        <link rel="stylesheet" href="/build/app.css">-->

    {% endblock %}
</head>

{% block header %}
    <div id="header newPage"" class="text-center">
        <h5>Liste des certificats | <span class="badge badge-secondary">{{ moteurs|length }} {{ lev }}{% if moteurs|length > 1 %}s{% endif %} {{ charge }}</span></h5>
        <h6 class="success">utilisez la fonction "imprimer" de votre navigateur pour imprimer au format A4</h6>
    </div>
{% endblock %}

{% block moteurs_body %}
    <p></p>
    {% set boucle = 6 %}

    <div class="container float">

        {% for moteur in moteurs %}
            {% if (loop.index % (6*6) == 0) and not loop.first %}<div class="float newPage"></div>{% endif %}

            {% if loop.first %}
                <div class="row">
            {% endif %}

            {% if boucle == 0 %}
                </div>
                <div class="row">
                {% set boucle = 6 %}
            {% endif %}
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" {# src="../../{{ moteur.urlQRCode }}" #} src="{{ moteur.urlQRCode }}" alt="Mince, pas d'image...">
                    <div class="card-body">
                        <p class="card-text text-center">
                            {{ moteur.numeroMoteur }}
                        </p>
                    </div>
                </div>
            </div>

            {% set boucle = (boucle - 1) %}

            {% if loop.last %}
                </div>
            {% endif %}
                    {##}
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {{ encore_entry_script_tags('app') }}




{% endblock %}

</html>
